<div class="group-login-container">
  <mat-card>
    <form [formGroup]="groupLoginForm" (ngSubmit)="onSubmit()">
      <mat-card-content>
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Group Email</mat-label>
          <mat-icon matPrefix>email</mat-icon>
          <input autocomplete="group-email" matInput formControlName="groupEmail" placeholder="pat@example.com">
          <mat-error *ngIf="groupLoginForm.get('groupEmail')?.hasError('email')">
            Please enter a valid email address
          </mat-error>
        </mat-form-field>
        test12@rt.ch

        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Group Password</mat-label>
          <mat-icon matPrefix>lock</mat-icon>
          <input autocomplete="group-password" matInput formControlName="groupPassword" [type]="hidePassword ? 'password' : 'text'">
          <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword" [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hidePassword" type="button">
            <mat-icon>{{ hidePassword ? 'visibility' : 'visibility_off' }}</mat-icon>
          </button>
          <mat-error *ngIf="groupLoginForm.get('groupPassword')?.hasError('required')">
            Password is required
          </mat-error>
        </mat-form-field>
        test12
      </mat-card-content>

      <mat-card-actions class="action-container">
        <button mat-raised-button color="primary" type="submit" [disabled]="!groupLoginForm.valid">
          Login
        </button>
        <button matButton (click)="onNoClick()">Close</button>
        <span class="spacer"></span>

        <span class="reg-text"><a mat-button color="accent" routerLink="/group-register">Forget Password ?</a>
        </span>
      </mat-card-actions>

    </form>
  </mat-card>
</div>