
.member-login-container {
	display: flex;
	justify-content: center;
	align-items: center;
}

mat-card {
	width: 400px;
	padding: 20px;
}

.full-width {
	width: 100%;
	margin-bottom: 15px;
}

.action-container {
	display: flex;
	align-items: center;
	padding: 16px;
}

.spacer {
	flex: 1 1 auto;
}

.reg-text {
	font-size: 0.85rem;
	color: rgba(0, 0, 0, 0.6);
}

.reg-text a {
	margin-left: 4px;
	padding: 0 8px;
}
