<div class="member-login-container">
	<mat-card>
		<form [formGroup]="memberLoginForm" (ngSubmit)="onSubmit()">
			<mat-card-content>
				<mat-form-field appearance="outline" class="full-width">
					<mat-label>Member Email</mat-label>
					<mat-icon matPrefix>email</mat-icon>
					<input autocomplete="member-email" matInput formControlName="memberEmail" placeholder="pat@example.com">
					<mat-error *ngIf="memberLoginForm.get('memberEmail')?.hasError('email')">
						Please enter a valid email address
					</mat-error>
				</mat-form-field>
				aaaa@sdf.h
				<mat-form-field appearance="outline" class="full-width">
					<mat-label>Member Password</mat-label>
					<mat-icon matPrefix>lock</mat-icon>
					<input autocomplete="member-password" matInput formControlName="memberPassword" [type]="hidePassword ? 'password' : 'text'">
					<button mat-icon-button matSuffix (click)="hidePassword = !hidePassword" [attr.aria-label]="'Hide password'"
						[attr.aria-pressed]="hidePassword" type="button">
						<mat-icon>{{ hidePassword ? 'visibility' : 'visibility_off' }}</mat-icon>
					</button>
					<mat-error *ngIf="memberLoginForm.get('memberPassword')?.hasError('required')">
						Password is required
					</mat-error>
				</mat-form-field>
				777777
			</mat-card-content>

			<mat-card-actions class="action-container">
				<button mat-raised-button color="primary" type="submit" [disabled]="!memberLoginForm.valid">
					Login
				</button>
				<button matButton (click)="onNoClick()">Close</button>
				<span class="spacer"></span>

				<span class="reg-text">
					<a mat-button color="accent" routerLink="/member-register">Forget Password ?</a>
				</span>
			</mat-card-actions>

		</form>
	</mat-card>
</div>
