.container{
    background-color: #ffb07f;
    padding: 10px;
    height: calc(100vh - 20px);
    overflow: hidden;
}
/* .container .header{} */
.container .content{
    height: calc(100vh - 94px);
    overflow: scroll;
    /* background-color: #e2f0cb; */
    padding: 10px 0px 10px 0px;
}