.container{
    background-color: #ffb07f;
    padding: 10px;
    height: calc(100vh - 20px);
    /* overflow: hidden; */
}
/* .container .header{} */
.container .content{
    height: calc(100vh - 154px);
    overflow: scroll;
    /* background-color: #e2f0cb; */
    margin: 3px 0px 3px 0px;
    /* margin: 10px; */
    overflow-x: hidden;
    overflow-y: auto;
}